*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    padding: 5%;
    height: 100%;
    background-image: url("https://cssanimation.rocks/demo/starwars/images/bg.jpg");
    overflow: hidden;
}

.starWars {
    display: grid;
    grid-template-rows: 500px 500px 500px;
    align-content: center;
    justify-content: center;
    position: relative;
    height: 800px;
    perspective: 400px;
    color: #f9dd35;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
} 

.title {
    align-self: end;
    justify-self: start;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    color: blue;
    line-height: 150%;
    opacity: 0;
    animation: intro 3s ease-in-out;
}

@keyframes intro {
    0% {
        opacity:0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
   
    100% {
      opacity: 0;
    }
}

.logo {
    justify-self: center;
    perspective: 800px;
    opacity: 0;
    animation: logo 10s ease-out 4s;
}

@keyframes logo {
    0% {
      opacity: 0;
      transform: scale(1.5) translateY(-0.75em);
    }
    20% {
      opacity: 1;
    }
    89% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: translateZ(-1000em);
    }
  }

.content {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear 5s;
}

@keyframes crawl {
    0% {
        top: 110%;
        transform: rotateX(20deg) translateZ(100px);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
} 





